.full-height,
.container,
.face {
  height: 268px;
}

.full-width,
.container,
.face,
.cover>* {
  width: 268px;
  cursor: pointer;
}

.container {
  perspective: 1000px;
  filter: drop-shadow(0px 0px 10px #00000033);
}

.disk {
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}



.container:hover .disk {
  transform: rotateY(50deg)rotateX(10deg) rotateZ(-5deg) scale(1.1) translateY(-20px);
}

.face {
  position: absolute;
  overflow: hidden;
}

.cover {
  transform: translateZ(10px);

}

.cover>.top {
  height: 52px;
  padding-left: 10px;
  background-color: transparent;
}

.cover>.bottom {
  height: 268px;
  color: #fff;
  background-color: #34495e;
}

.back {
  background-color: transparent;
  transform: rotateY(180deg) translateZ(10px);
}

.side {
  position: absolute;
  height: 268px;
  width: 28px;
  text-align: center;
  overflow: hidden;
  transform: rotateY(-90deg) translateZ(14px) translateY(2px);
  margin-top: -2px;

}

.side>.top {
  height: 0px;
  width: 28px;
  background-color: transparent;
}

.side>.bottom {
  height: 268px;
  width: 28px;
  color: #fff;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  background-color: #000;
}