.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.player {
    width: 100%;
    display: flex;
    padding: 20px 35px;
    box-shadow: 10px -6px 15px 0 rgba(168, 179, 211, 0.24);
    min-height: 100px;
}

.background {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    filter: blur(100px);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
}

.player_container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player_open {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(100px);
}

.player_open_icon {
    right: 10px;
    font-size: 2em;
    top: 5px;
    cursor: pointer;
    position: absolute;
    z-index: 999;
    opacity: 0.5;

}

.player_open_icon:hover {
    opacity: 1;
}

.player_open .infos, .player_open .cover_image, .player_open .cover_image img {
    max-width: unset;
    min-width: unset;
    min-height: unset;
    max-height: unset;
    width: unset;
    height: unset;
}

.player_open .song_info, .player_open .infos {
    display: block;
}

.player_open .infos {
    display: block;
    margin: 0 auto;


}

.player_open .cover_image {
    max-width: 80vw;
    max-height: 50vh;
    margin: 0 auto;
}

.controller svg {
    width: 100px;
    height: 50px;
    padding: 2px;
}

.controller svg:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
    padding: 0px;
    transition-property: padding;
    transition-duration: 50ms;
    cursor: pointer;
}

.controller {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    min-width: 200px;

    padding-right: 20px;
}

.infos {

    min-width: 200px;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cover_image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
}

@media screen and (max-width: 800px) {

    .infos, .extra {
        width: 100px;
        height: 100px;
    }

    .song_info, .infos, .extra {
        display: none;
    }

    .controller {
        width: 100%;
    }

    .progressbar {
        border-radius: 0;

    }
}

.progressbar {
    filter: saturate(0);
    opacity: 0.2;
}

.song_info {
    flex-grow: 1;
    text-align: center;
}

.player__time {
    font-size: ms(-1);
    width: 30px;
    font-weight: 500;
    width: 100px;
}

.controls {
    width: 100%;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}


.play_button {
    font-size: 2em;
}

.artists_names {
    margin-right: 10;
    font-weight: 300;
}