@media screen and (max-width: 600px) {
    .Root {
     grid-template-rows: 1fr auto auto;
 
     grid-template-areas:
     "navBar mainView"
     "playerFooter playerFooter"
    } 
    .SideBar
    {
        /* display: none; */
    }
 }
 
 @media screen and (min-width: 601px) {
     .Root {
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr auto;

      grid-template-areas:
      "navBar mainView"
      "playerFooter playerFooter";
     } 
    
  }
 
 .Root {
     display: grid;
     position: absolute;
     top: 0; right: 0; left: 0; bottom: 0;
     overflow: hidden;
     height: 100vh;
 
 }
   
 .MainView {
     overflow-y: scroll;
     overflow-x: hidden;
     vertical-align: baseline;
     grid-area: mainView;
 }
 
 .SideBar {
     grid-area: navBar;
 }
 
 .playerFooter {
     grid-area: playerFooter;
     box-shadow: 0px -15px 20px 0px #0000000d;
     z-index: 999;
 }
   
   