.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.player {
    width: 100%;
    display: flex;
    padding: 20px 35px;
    box-shadow: 10px -6px 15px 0 rgba(168, 179, 211, 0.24);
    min-height: 100px;
}

.player__background {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    filter: blur(100px);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
}

.player__body {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player__body__open {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(100px);
}

.player__body__open .player__song_info_wrapper, .player__body__open .track__cover_art_image, .player__body__open .track__cover_art_image img {
    max-width: unset;
    min-width: unset;
    min-height: unset;
    max-height: unset;
    width: unset;
    height: unset;
}

.player__body__open .player__song_info, .player__body__open .player__song_info_wrapper {
    display: block;
}

.player__body__open .player__song_info_wrapper {
    display: block;
    margin: 0 auto;


}

.player__body__open .track__cover_art_image {
    max-width: 80vw;
    max-height: 50vh;
    margin: 0 auto;
}

.player__control_panel svg {
    width: 100px;
    height: 50px;
    padding: 2px;
}

.player__control_panel svg:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
    padding: 0px;
    transition-property: padding;
    transition-duration: 50ms;
    cursor: pointer;
}

.player__control_panel {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.player__additional_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    min-width: 200px;

    padding-right: 20px;
}

.player__song_info_wrapper {

    min-width: 200px;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.track__cover_art_image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
}

@media screen and (max-width: 800px) {

    .player__song_info_wrapper, .player__additional_buttons {
        width: 100px;
        height: 100px;
    }

    .player__song_info, .player__song_info_wrapper, .player__additional_buttons {
        display: none;
    }

    .player__control_panel {
        width: 100%;
    }

    .player__progress {
        border-radius: 0;

    }
}

.player__song_info {
    flex-grow: 1;
    text-align: center;
}

.player__time {
    font-size: ms(-1);
    width: 30px;
    font-weight: 500;
    width: 100px;
}

.player__controls {
    width: 100%;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}