.navbar
{
    min-width: 200px;
}
.navbar__logo
{
    font-size: 3.5em;
    margin-left: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar__group
{
    margin-bottom: 50px;
}
.navbar__group__header
{
    font-size: 1.5em;
    margin-bottom: 15px;
}
.navbar__item
{
    font-size: 1.2em;
    font-family: Helvetica, sans-serif;
}
.navbar__icon
{
    font-size: 1.5em;
    margin-right: 10px;
    line-height: 1.2em;
}
.navar__themeswitch
{
    margin-top: 10px;

}